 body{
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(26, 26, 26);
 }
 .heading{
    font-size: larger;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
 }
 .heading h6 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;

 }

 .heading h1 {
    color: rgb(247, 107, 7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    justify-content: center;
    text-align: center;
    text-decoration: wavy;
 }
.first {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    color: rgb(6, 136, 250);
}
.image1 {
   margin-left: 400px;
}
.image1 :hover{
    transform: scale(1.2,1.2);
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    }
.second{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    color: rgb(66, 9, 252);
}
.image2 {
   margin-left: 400px;
}
.image2 :hover{
transform: scale(1.2,1.2);
transition: all 0.4s;
cursor: pointer;
border-radius: 10px;
}
.second h6{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
}
.more{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    justify-content: center;
}
.more h1{
    color: black;
    font-size: 50px;
}
.video1 {
    height:450px;
    width:500px;
    justify-content: center;
    margin-left: 400px;
}
.video1 :hover {
    transform: scale(1.2,1.2);
transition: all 0.4s;
cursor: pointer;
border-radius: 20px;
}