body{
    background-color:rgb(51, 50, 50);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx9IQSfUOr3jiAynEeCXuwfBJkhYAdqHKruw&usqp=CAU");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgb(242, 227, 14);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/* social media icons */
.social{
    position: fixed;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-290px,0);
}
.social a{
    color: #fff;
    background: rgba(249, 242, 242, 0.264);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
}
.social a:hover{
    transform: translate(140px,0);
}
.social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.social a:nth-child(1){
    color: #0891e6;
}
.social a:nth-child(2){
    color: #f80000;
}
.social a:nth-child(3){
    color: #cf0a91;
}
.social a:nth-child(4){
    color: #09caf5;
}
.social a:nth-child(5){
    color: #03962a;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px;
    gap: 10px;
    background-color:rgb(51, 50, 50);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s;
    margin-left: 50px;
    padding-left: 50px;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 50px;
  }

  .grid-container >div:hover img{
    transform: scale(1.2,1.2);
    transition: all 0.8s;
    cursor: pointer;
    border-radius: 10px;
  }
  .about__section {
   
    padding: 10px;
    background-color: black;
    background-size: cover;
    height: 50%;
    width: 95%;
    margin: 0px;
    border-radius: 10px;
    padding: 20px;
    border-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
  }

.about__section h1 {
    color: whitesmoke;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 100%;
    
}

.about__section p1,p2 {
    color: rgb(251, 7, 206);
    font-size: small;
    font-family:cursive;
    opacity: 100%;
    letter-spacing: 2px;
     white-space:2px ;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        
.slider {
    overflow: hidden;
    margin-top: 40px;
}

.slider figure {
    position: relative;
    width:500%;
    height: 80;
    margin: 2px;
    left: 0px;
    animation: 10s slider infinite;

}

.slider figure img {
    float: left;
    width: 20%;

}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }  
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
  }
  .menu .tag{
    align-self: center;
  }
  .grid-image{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width:100%;
    height:100%;
  }
  .grid-image:hover{
    transform: scale(1.05);
    transition: 0,2s ease-in-out;
  }
  .grid{
    display: grid;
    gap:10px;
    grid-template-areas:
     "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
  }
  
  .item1{
    grid-area: I1;
  }
  .item2{
    grid-area: I2;
  
  }
  .item3{
    grid-area: I3;
  
  }
  .item4{
    grid-area: I4;
  }
  .item5{
    grid-area: I5;
  }
  .item6{
    grid-area: I6;
  
  }
  .item7{
    grid-area: I7;
  }